.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #566f9e;
}
.input::-webkit-scrollbar {
  display: none;
}
  .textbutton{
    /* background: #f3f6f9 !important; */
    border-radius: 50% !important;
    padding: 0px;
    margin-right: 10px;
    color:#6c757d;
    border: 1px solid #f3f6f9 !important;
    box-shadow: #f3f6f9;
    font-size: 15px;
  }
  .hoverclass :hover{
    color: #fff;
    background:#6c757d !important;
  }
.sendButtonhover :hover{
  background-color: #cccccfde;
  border-radius: 50px;
}
