.root {
  position: relative;
  margin-left: 54px;
  @media (max-width: 768px) {
    margin-left: 0px;
  }
h4{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  width: 100%;
}

.badge {
  font-size: 12px;
  padding: 8px 12px;
  background-color: #5bc0de;
  color: #fff;
  border-radius: 20px;
}

.pullRight {
  text-align: right;
}

.actions {
  
 display: grid;
 grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 10px;
  width: 100%;
  .actionContent{
    box-sizing: border-box;
    gap: 0.5rem !important;
    background-color: #5156be;
    border-color: #5156be;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;
    line-height: inherit;
    padding: 8px 16px;
    font-size: 1.1rem;
    -webkit-transition: all .5s ease-in-out;
  
  }
  .actionContent :hover {
    background-color: black;
    border-color: #0d6efd;
    /* transition: all .5s ease-in-out; */
  }
}
.menu-icon-btn {
  width: 100%;
}

.menu-icon-btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  font-size: 16px;
  border-radius: 8px;
  text-align: left;
}

.menu-icon-btn .btn .material-symbols-outlined {
  font-size: 24px;
  margin-right: 10px;
}

.menu-icon-btn .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.menu-icon-btn .btn-outline {
  background-color: white;
  border-color: #007bff;
  color: #007bff;
}

.menu-icon-btn .btn-outline:hover {
  background-color: #007bff;
  color: white;
}
