.typing-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #fff; /* Changed to white */
    border-radius: 50%;
    display: inline-block;
    animation: typing 1.2s infinite ease-in-out;
  }
  
  @keyframes typing {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.32s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.16s;
  }
  