.root {
  /* width: 275px; */
  background-color: white;
  -webkit-user-select: none;
  padding: 0px 20px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-radius: 0px;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0px;
  height: 100%;
  justify-content: space-between;
}
.chat_list::-webkit-scrollbar {
  display: none;
}
.chat_list {
  display: flex;
  row-gap: 16px;
  overflow: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 10px 10px 0px 10px;
  
  flex-direction: column-reverse;
  overflow-anchor: auto !important;
}
.chat_end {
  margin-top: auto;
}
.footer{
  padding:10px;
}
