.root {
  padding: 10px;
  border-radius: 10px;
  max-width: 227px;
  width: max-content;
  font-size: 11px;
  line-height: 12px;
}

.incoming {
  background-color: #EBEDF3;
  color: #172B4C;
  margin-bottom: 21px;
  font-size: 14px;
  padding: 21px;
  text-align: left;
  border-bottom-left-radius: 0 !important;
}
.outgoing {
  background-color: #fff;
  color: #172B4C;
  font-size: 14px;
  padding: 21px;
  margin-left: auto;
  border-bottom-right-radius: 0 !important;
}
